absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
auto-py-to-exe==2.44.1
binaryornot==0.4.4
blinker==1.8.2
blis==0.7.11
boltons==24.0.0
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.5.0
canvas==0.1.15
catalogue==2.0.10
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.18.1
cmake==3.30.2
colorama==0.4.6
comtypes==1.4.8
confection==0.1.5
contourpy==1.2.1
cookiecutter==2.6.0
cron-converter==1.2.1
cryptography==44.0.0
css-html-js-minify==2.5.5
cssselect==1.2.0
cssutils==2.11.1
cycler==0.12.1
cymem==2.0.8
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
Django==5.1.4
dlib==19.24.6
dnspython==2.6.1
Eel==0.17.0
email_validator==2.2.0
et-xmlfile==1.1.0
executing==2.0.1
face==22.0.0
face-recognition==1.3.0
face_recognition_models==0.3.0
Faker==28.0.0
fastapi==0.112.2
fastapi-cli==0.0.5
ffmpy==0.4.0
ffs==0.0.8.2
filelock==3.15.4
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googledrivedownloader==0.4
gradio==4.42.0
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.65.4
h11==0.14.0
h5py==3.11.0
htmlmin==0.1.12
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.24.5
idna==3.7
importlib_metadata==8.4.0
importlib_resources==6.4.4
ipython==8.26.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==3.4.1
keras-models==0.0.7
keyring==25.3.0
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
letter==0.5
lib==4.0.0
libclang==18.1.1
lxml==5.3.0
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.0
more-itertools==10.4.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.10
mysql-connector-python==9.0.0
mysqlclient==2.2.6
namex==0.0.8
narwhals==1.9.4
networkx==3.3
nltk==3.8.1
numpy==1.26.4
openai==1.40.8
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.7
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdf2docx==0.5.8
pdf2image==1.17.0
pdfgen==1.0.5
pdfminer.six==20231228
pdfplumber==0.11.5
pefile==2023.2.7
pillow==10.4.0
platformdirs==4.2.2
premailer==3.10.0
preshed==3.0.5
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==4.25.4
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydub==0.25.1
pyee==8.2.2
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.9.0
pymongo==4.11
PyMsgBox==1.0.9
PyMuPDF==1.25.1
pyparsing==3.1.2
PyPDF2==1.28.6
pypdfium2==4.30.1
pyperclip==1.9.0
pypiwin32==223
pyppeteer==0.2.6
PyRect==0.2.0
PyScreeze==1.0.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.9
python-slugify==8.0.4
pyttsx3==2.98
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.2
pyzbar==0.1.9
redis==5.0.8
pip==25.0
referencing==0.35.1
regex==2024.7.24
report==0.0.1
reportlab==4.2.2
reportlib==3.4.0
requests==2.32.3
RestrictedPython==7.2
rich==13.7.1
rpds-py==0.20.0
ruff==0.6.2
safetensors==0.4.4
scapy==2.5.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
semantic-version==2.10.0
setuptools==75.8.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
sqlparse==0.5.3
srsly==2.4.8
stack-data==0.6.3
starlette==0.38.2
statsd==4.0.1
stepic==0.5.0
stopwords==1.0.1
streamlit==1.39.0
streamlit-autorefresh==1.0.1
sympy==1.13.2
syncasync==20180812
tenacity==9.0.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
torch==2.4.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.0
twilio==9.3.3
typer==0.12.4
types-python-dateutil==2.9.0.20240821
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
virtualenv==20.26.3
wasabi==1.1.3
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
wheel==0.45.1
whichcraft==0.6.1
WMI==1.5.1
wrapt==1.16.0
yarl==1.15.2
zipp==3.20.0
zope.event==5.0
zope.interface==7.0.1
